@import "tailwindcss";
@plugin "daisyui";

:root {
  --primary: #2176ff;
  --primary-hover: #1d69e6; /* sedikit lebih gelap */
  --primary-active: #195dcc; /* lebih gelap lagi */
  --primary-light: #e9f1ff; /* versi sangat terang */
  --primary-border: #1b63d4;
  --secondary: #31393c;
}

body {
  color: var(--secondary);
}

.my-bg-primary {
  background-color: var(--primary);
}

.my-bg-primary-light {
  background-color: var(--primary-light);
}

.my-text-primary {
  color: var(--primary);
}
.my-text-secondary {
  color: var(--secondary);
}

.my-btn-primary {
  background-color: var(--primary);
  color: #ffffff;
  cursor: pointer;
  transition: all 0.2s ease;
}

.my-btn-primary:hover {
  background-color: #ffffff;
  color: var(--primary);
  border-color: var(--primary);
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(33, 118, 255, 0.35);
}

.my-btn-primary:active {
  background-color: var(--primary-active);
  border-color: var(--primary-active);
}

.my-btn-primary:disabled {
  background-color: #b6d0ff;
  border-color: #b6d0ff;
  cursor: not-allowed;
  opacity: 0.7;
}

.my-btn-danger {
  background-color: #dc2626; /* red-600 */
  color: #ffffff;
  border: 1px solid #dc2626;
  cursor: pointer;
  transition: all 0.2s ease;
}

.my-btn-danger:hover {
  background-color: #ffffff;
  color: #dc2626;
  border-color: #dc2626;
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(220, 38, 38, 0.35);
}

.my-btn-danger:active {
  background-color: #b91c1c; /* red-700 */
  border-color: #b91c1c;
  color: #ffffff;
}

.my-btn-danger:disabled {
  background-color: #fca5a5; /* red-300 */
  border-color: #fca5a5;
  cursor: not-allowed;
  opacity: 0.7;
}

.my-btn-warning {
  background-color: #ca8a04; /* yellow-600 */
  color: #ffffff;
  border: 1px solid #ca8a04;
  cursor: pointer;
  transition: all 0.2s ease;
}

.my-btn-warning:hover {
  background-color: #ffffff;
  color: #ca8a04;
  border-color: #ca8a04;
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(202, 138, 4, 0.35);
}

.my-btn-warning:active {
  background-color: #a16207; /* yellow-700 */
  border-color: #a16207;
  color: #ffffff;
}

.my-btn-warning:disabled {
  background-color: #fde68a; /* yellow-300 */
  border-color: #fde68a;
  cursor: not-allowed;
  opacity: 0.7;
}
